#alerta-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#alerta-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#alerta-container h2 {
    margin-top: 0;
}

#alerta-container p {
    margin: 15px 0;
}

#alerta-container button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #d9534f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}